source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none

nuget FSharp.Core
nuget Newtonsoft.Json
nuget Microsoft.AspNetCore.App
nuget Microsoft.AspNetCore.SignalR
nuget Elmish

nuget Blazor.Extensions.Logging

nuget Microsoft.Extensions.DependencyModel
nuget System.Runtime.Loader

nuget FSharp.Json

nuget BlazorSignalR
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.SignalR.Client

nuget Microsoft.AspNetCore.Blazor.Browser ~> 0.7.0
nuget Microsoft.AspNetCore.Blazor.Build ~> 0.7.0
clitool Microsoft.AspNetCore.Blazor.Cli ~> 0.7.0
nuget Bolero 0.3.131
nuget Bolero.Build 0.3.131

nuget Argu
nuget FcsWatch.Core
nuget FcsWatch.Binary

nuget FsCheck.Xunit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio


# Force <2.2 to prevent this issue: https://github.com/aspnet/Razor/issues/2553
nuget Microsoft.AspNetCore.Razor.Design ~> 2.1.0

nuget Elmish.HotReload
