source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/bolero
storage: none

nuget FSharp.Core
nuget Newtonsoft.Json
nuget Microsoft.AspNetCore prerelease
nuget Microsoft.AspNetCore.Hosting prerelease
nuget Microsoft.AspNetCore.Http prerelease
nuget Microsoft.AspNetCore.Mvc prerelease
nuget Microsoft.AspNetCore.SignalR prerelease
nuget Elmish

nuget Blazor.Extensions.Logging prerelease

nuget Microsoft.Extensions.DependencyModel prerelease
nuget System.Runtime.Loader

nuget FSharp.Json

nuget BlazorSignalR prerelease
nuget Microsoft.AspNetCore.Server.Kestrel prerelease
nuget Microsoft.AspNetCore.SignalR.Client prerelease

#nuget Microsoft.AspNetCore.Blazor.Browser
nuget Microsoft.AspNetCore.Blazor.Build prerelease
clitool Microsoft.AspNetCore.Blazor.Cli prerelease
nuget Bolero prerelease
nuget Bolero.Build prerelease

nuget Argu
nuget FcsWatch.Core
nuget FcsWatch.Binary

nuget FsCheck.Xunit
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio


# Force <2.2 to prevent this issue: https://github.com/aspnet/Razor/issues/2553
#nuget Microsoft.AspNetCore.Razor.Design ~> 2.1.0

#nuget Elmish.HotReload

nuget Dotnet.ProjInfo


# Temporary Prerelease
nuget Microsoft.AspNetCore.Http.Features prerelease
nuget Microsoft.Extensions.Configuration prerelease
nuget Microsoft.Extensions.FileProviders.Physical prerelease
nuget Microsoft.Extensions.Logging.Console prerelease
nuget Microsoft.Extensions.Options prerelease
nuget System.Runtime.CompilerServices.Unsafe prerelease